@import 'links'


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Lato;
  background: greenyellow;
}

header{
  background: var(--head-color);
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 999;

    p{
      margin: 200px;
    }
    
    button{
      margin: 200px;
      background: var(--button-color);
      color: white;
      padding: 8px;
      border: none;
      border-radius: 3px;
      font-size: 0.7rem;
      cursor: pointer;
    }

}

.start{
  background: url(../images/bg-masthead.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
  margin-top: 50px;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.3);
  }
}

// .start::before {
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background: rgb(0, 0, 0, 0.3);
// }

.signup{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  z-index: 1;

  h1{
    font-size: 2em;
  }

  input{
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
  }
  
  // input:focus{
  //   border: 0px solid white;
  //   background-color: lightblue;
  // }

  button{
    padding: 10px;
    border: none;
    width: 100px;
    border-radius: 3px;
    background: var(--button-color);
    color: white;
    cursor: pointer;
  }
}

.intro{
  background: var(--head-color);
  height: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 50px;

    .icons{
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 200px;
      gap: 10px;
    }

    i {
      width: 200px;
      height: 200px;
      color: black;
    }

    p{
      font-size: 0.7em;
      color: var(--text-color);
      line-height: 1.5;
    }

}

  .content{
    height: 1000px;
    display: flex;
  }

.feedback {
    height: 350px;
    background: var(--head-color);
    display: flex;
    flex-direction: column;
  
    div{
      display: flex;
    }
  
    .second{
      flex-direction: row-reverse;
    }
  }