// @import 'link'

@import 'header';
@import 'form';
@import 'start';
@import 'intro';
@import 'content';
@import 'feedback';
@import 'end';
@import 'footer';
@import 'media';



:root {
  --head-color: rgb(248, 249, 250);
  --button-color: rgb(0, 123, 255);
  --text-color: rgb(144, 146, 148);
  --black: rgb(33, 37, 41);
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Lato;
  color: var(--black);
}